ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp
ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp.deps.json
ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp.dll
ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp.pdb
ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp.runtimeconfig.dev.json
ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp.runtimeconfig.json
ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
ConsoleApp/obj/ConsoleApp.csproj.nuget.g.props
ConsoleApp/obj/ConsoleApp.csproj.nuget.g.targets
ConsoleApp/obj/project.assets.json
ConsoleApp/obj/project.nuget.cache
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.AssemblyInfo.cs
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.AssemblyInfoInputs.cache
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.assets.cache
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.csproj.CoreCompileInputs.cache
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.csproj.FileListAbsolute.txt
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.csprojAssemblyReference.cache
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.dll
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.genruntimeconfig.cache
ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.pdb
.vscode/launch.json
.vscode/tasks.json
